#playspace {
	width: 80%;
	height: 50%;
	max-height: 100vw; /* Viewport height */
	max-width: 100vw; /* Viewport width */
	border: 5px solid;
}

.align {
	text-align: center;
}

div#modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
